<!DOCTYPE html>
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1>iFrames</h1>
            <p>Uso de iFrames dentro de nuestro sitio web</p>
        </header>
        <aside>
            <section>
                <h2>iFrames</h2>
                <article>
                    <h3>Sitio Web Interno</h3>
                    <iframe src ="http://ufidelitas.ac.cr" height="400" width="1200">
                    </iframe>
                    <article>
                    </article>
                    <h3>Youtube</h3>
                    <iframe width="1236" height="695"
                        src="https://youtu.be/BdMRw-ktzyU?si=xdBVQf-mqk9Wnrcb">
                            
                    </iframe>
                </article>
            </section>    
        </aside>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;   
        </footer>
    </body>
</html>
